body{
    background: #010203;
}
section{
    position: relative;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#main{
    background: #FFF;
}

#curtain{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgba(0,0,0,.3);
}

#curtain.show{
    top: 0;
}

#menu{
    width: 220px;
    position: absolute;
    left: 10px;
    bottom: -100%;
    -webkit-transition: bottom .4s;
    transition: bottom .4s;
}

#menu.show{
    bottom: 10px;
}

#rename-input{
    width: 220px;
    height: calc(100% - 20px);
    position: absolute;
    left: 10px;
    bottom: -100%;
    webkit-transition: bottom .4s;
    transition: bottom .4s;
    background-color: #000;
}

#rename-input.show{
    bottom: 10px;
}

#info{
    width: 220px;
    height: calc(100% - 20px);
    position: absolute;
    left: 10px;
    bottom: -100%;
    webkit-transition: bottom .4s;
    transition: bottom .4s;
    background-color: #FFF;
    font-size: 10px;
}

#info p{
    margin: 10px;
}

#info.show{
    bottom: 10px;
}

button.menubutton{
    position: relative;
    width: 100%;
    height: 30px;
    color: #0099FF;
    background-color: #FCFCFC;
    font-size: 12px;
    font-family: sans-serif;
    border: 0;
    border-top: 1px solid #EEE;
    background-image: none;
}
.menubutton:active{
    background-color: #EEE;
}
#do_rename{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 0;
}
#do_download{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#do_cancel{
    margin-top: 8px;
    font-weight: bold;
    border-radius: 3px;
}

td{
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

button{
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-image: url('../images/button_normal.png');
    background-size: contain;
    outline: none;
    border: 1px outst #CCC;
    /*border-radius: 3px;*/
    padding: 0;
}

button.playing{
    background-image: url('../images/button_playing.png');
}

button.recording{
    background-image: url('../images/button_record.png');
}

p{
    position: relative;
}

p.info{
    font-size: 10px;
    font-style: italic;
    line-height: 1.5;
    padding-left: 5px;
}
p.info:first-of-type{
    margin-top: 8px;
}

#do_showinfo{
    position: absolute;
    left: auto;
    top: auto;
    right: 10px;
    bottom: 2px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #333;
}

em{
    font-style: italic;
}

*[disabled]{
    background-color: #666;
    pointer-events: none;
}
